body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #004d00, #00b300); 
} 

header {
    display: flex;
    justify-content: space-between;
    background-color: #00702f;
    color: #fff;
    padding: .5rem 1rem;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo-title {
    display: flex;
    align-items: center;
}

header .logo {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Faz a imagem ficar em forma de círculo */
    margin-right: 0.5rem; /* Espaçamento entre a logo e o título */
}

header h1 {
    font-size: 1.5rem; /* Tamanho menor do título */
    margin: 0;
}
header h1 a {
    color: inherit; /* Mantém a cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-family: inherit; /* Mantém a fonte do h1 */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem; /* Tamanho menor do texto */
}

header nav ul li a:hover {
    text-decoration: underline;
}
h1 {
    margin: 0;
}

body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #004d00, #00b300);
    color: #f4f4f4;
}

header {
    background: #003300;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content:nth-child(even) .media {
    order: 2;
}

.media {
    flex: 1;
    padding: 1rem;
}

.media img, .media video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.text {
    flex: 2;
    padding: 1rem;
}

.text h2 {
    margin-top: 0;
    color: #00b300;
}

.text ul {
    list-style: none;
    padding: 0;
}

.text ul li {
    margin-bottom: 0.5rem;
}

.text a {
    color: #00ff00;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}
